.App {
  min-height: 100vh;
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}

.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  width: 50%;
  border: none;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 2px 5px grey;
}

.search-button  {
  background: lightcoral;
  border: none;
  padding: 10px;
  border-radius: 10px;
  margin-left: 20px;
  box-shadow: 0px 2px 5px grey;
}

.recipes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
